*{
    margin:0;
    padding: 0;
}
header{
    display: flex;
    padding: 0 200px;
    justify-content: space-between;
}
.photo{
    background-image: url("photo.png");
    width: 200px;
    height: 200px;
    margin-top: 32px;
  }
  .divider{
    width: 1.5px;
    background-color: #3B3A3D;
    height: 40px;
  }
  h2{
    color: #3B3A3D;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-top: 40px;
  }
  .title h2{
    margin-top: 8px;
  }
  h1, h2, h3, a, p, h4, li, .p2{
    font-family: Calibri;
    font-style: normal;
    line-height: normal;
  }
  h1{
    color: #3B3A3D;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }
  h3{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .title h1{
    margin-top: 4px;
  }
  .title h3{
    color: #A0A0A0;
    text-align: right;
  }
  main{
    padding:  0px 200px;
  }
  main h2{
    color: #111;
    font-weight: 700;
    margin-bottom: 16px;

  }
  a{
    color: #6A9CFC;
    font-size: 16px;
    font-weight: 400;
    text-decoration-line: underline;
  }

  li{
    margin-bottom: 8px;
    display: flex;
  }
  p {
    color: #292929;
    font-size: 16px;
    font-weight: 400;
  }
.contacts img{
    margin-right: 8px;
    width: 20px;
    height: 20px;
}
.skills img, .languages img{
    width: 4px;
    height: 4px;
    margin: auto 8px auto 0px;
}
.tools h3{
    margin: 16px 0px 8px 0px;
}
h4{
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px; /* 140% */
    text-transform: uppercase;
}
.min_divider{
    width: 1.5px;
    background-color: #3B3A3D;
    height: 18px;
    margin: 0 16px;
}
.title_pr{
    display: flex;
    margin-bottom: 4px;
}
.place{
    display: flex;
    margin-bottom: 4px;
}
.project_describtion p{
    margin-bottom: 8px;
}
.project_describtion li{
    margin-bottom: 2px;
}
.project_describtion ul{
    list-style: circle;
}
.project{
    display: flex;
    margin-top: 10px;
}
.divider_flow .divider{
    margin: -1px auto;
}
.project img, .education img{
    width: 12px;
    height: 12px;
}
main{
    display: flex;
    justify-content: space-between;
}
.right{
    width: 65%;
}
.left{
    width: 25%;
}
.academy{
    display: flex;
}
.divider_flow{
    margin-right: 8px;
}
.place img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.p2{
    margin-top: 4px;
    color: #737373;
    font-size: 14px;
    font-weight: 400;
}
.edu_place p{
margin-top: 8px;
}
.edu_place{
    padding-bottom: 20px;
}